.body {
    background: linear-gradient(90deg, rgba(45, 44, 44, 1) 0%, rgba(0, 0, 0, 1) 100%);
    margin: 0;
    overflow-x: hidden;
}

.title {
    font-family: 'League Spartan', sans-serif;
    font-size: 35px;
    color: #b1003e;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    left: 30%;
    top: 200px;
    z-index: 999;

}

.form {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: right;
    position: relative;
    right: 300px;
    top: 300px;
}

.submit {
    border: none;
    position: relative;
    left: 45%;
    top: 300px;
    height: 32px;
    width: 128px;
    background-color: #b1003e;
    ;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);

}



.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    background-color: rgb(0, 0, 0);
    height: 45px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
    color: white;

}

.square {
    height: 110%;
    width: 960px;
    background-color: #000000;
    position: relative;
    left: 40%;
    top: -10%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

.back_button {
    position: relative;
    top: -700px;
    text-decoration: none;
    text-transform: capitalize;
    color: #b1003e;
    font-size: 50px;
    font-family: 'League Spartan', sans-serif;

}